{% block footer %}
<footer class="page-footer teal">
    <div class="container">
        <div class="row pos">
            <div class="col l6 s12">
                <h5 class="white-text">vKirirom Pine Resort</h5>
                <p class="grey-text text-lighten-4">We are a team of college students working on this project like it's
                    our full time job.</p>


            </div>
            <div class="col l6 s12">
                <h5 class="white-text">Connect</h5>
                <ul>
                    <li><a class="white-text" href="#!">Tel: 015 404 410</a></li>
                    <li><a class="white-text" href="#!">E-mail: sousocheat@kit.edu.kh</a></li>
                    <li><a class="white-text" href="#!">Tel: 096 572 2866</a></li>
                    <li><a class="white-text" href="#!">E-mail: minsopheaktra16@kit.edu.kh</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="footer-copyright">
        <div class="container">
            Made by <a class="brown-text text-lighten-3" href="http://facebook.com/sousocheat">Jett</a>
            <a class="teal-text" href="{% url 'main' %}">Developer Mode</a>
        </div>
    </div>
</footer>
{% endblock %}