{% load staticfiles %}
<!--<!DOCTYPE html>-->
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no"/>
    <title>{% block title %}{% endblock %}</title>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="{% static 'PoolCamAI/css/materialize.css' %}" type="text/css" rel="stylesheet"
          media="screen,projection"/>
    <link href="{% static 'PoolCamAI/css/style.css' %}" type="text/css" rel="stylesheet" media="screen,projection"/>
</head>
<body>

<header class="main">
    <!--<div class="navbar-fixed">-->
    <nav class="white" role="navigation">
        <div class="nav-wrapper">
            <a id="logo-container" href="http://www.vkirirom.com/en/" class="brand-logo">
                <img src="{% static 'PoolCamAI/assets/image/vKirirom.svg' %}" alt="vKiriromLogo">
            </a>

            <ul id="slide-out" class="side-nav fixed fwid">
                <li>
                    <div class="Titles"></div>
                </li>

                <li>
                    <div class="divider"></div>
                </li>
                <li>
                    <div class="userView">
                        <div class="background">
                            <img src="{% static 'PoolCamAI/assets/image/bg1.jpg' %}">
                        </div>
                        <a href="#!user"><img class="circle"  src="{% static 'PoolCamAI/assets/image/suzy0.jpg' %}"></a>
                        <a href="#!name"><span class="white-text name">Admin</span></a>
                        <a href="#!email"><span class="white-text email">sousocheat16@kit.edu.kh</span></a>
                    </div>
                </li>
                <li><a href="#!"><i class="material-icons">videocam</i>Camera</a></li>
                <li>
                    <div class="divider"></div>
                <li><a class="subheader"><i class="material-icons">settings</i>Setting</a></li>
                <li><a class="waves-effect" href="#!"><i class="material-icons">schedule</i>Schedule</a></li>
                </li>
                <li>
                <div class="divider"></div>
                </li>
                <li>
                    <a class="waves-effect" href="#!"><i class="material-icons">lock</i>Log out</a>
                </li>
            </ul>
            <!-- <a href="http://www.vkirirom.com/en/" class="brand-logo center teal-text">vKirirom</a> -->
            <ul class="right hide-on-med-and-down" id="ulright">
                <li><a href="http://www.vkirirom.com/en/contact.php">Contact</a></li>
                <li><a href="http://www.vkirirom.com/en/detailsCompany.php">About</a></li>

                    {% include "PoolCamAI/notification.html" %}

            </ul>


            <ul id="nav-mobile" class="side-nav">

                <li>
                    <div class="userView">
                        <div class="background">
                            <img style="height: auto; width: 100%;" src="{% static 'PoolCamAI/assets/image/bg1.jpg' %}">
                        </div>
                        <a href="#!user"><img class="circle" src="{% static 'PoolCamAI/assets/image/suzy1.jpg' %}"></a>
                        <a href="#!name"><span class="white-text name">Admin</span></a>
                        <a href="#!email"><span class="white-text email">sousocheat16@kit.edu.kh</span></a>
                    </div>
                </li>
                <li><a href="#!"><i class="material-icons">videocam</i>Camera</a></li>
                <li>
                    <div class="divider"></div>
                </li>
                <li><a class="subheader"><i class="material-icons">settings</i>Setting</a></li>
                <li><a class="waves-effect" href="#!"><i class="material-icons">schedule</i>Schedule</a></li>
                <li>
                    <div class="divider"></div>
                </li>
                <li><a class="waves-effect" href="http://www.vkirirom.com/en/contact.php"><i class="material-icons">contacts</i>Contact</a>
                </li>
                <li><a class="waves-effect" href="http://www.vkirirom.com/en/detailsCompany.php"><i
                        class="material-icons">info_outline</i>About</a></li>
                <!-- <li><a class="waves-effect" href="http://www.vkirirom.com/en/contact.php">Contact</a></li>
                <li><a class="waves-effect" href="http://www.vkirirom.com/en/detailsCompany.php">About</a></li -->
                <li>
                    <a class="waves-effect" href="#!"><i class="material-icons">lock</i>Log out</a>
                </li>
            </ul>
            <a href="#" data-activates="nav-mobile" class="button-collapse"><i class="material-icons">menu</i></a>
            <!-- <a href="#" data-activates="dropdown2" class="dropdown-button right teal-text"><i class="material-icons left">new_releases</i></a> -->
            <ul id="slide-out1" class="side-nav">

                <ul class="collection">
                        <li class="collection-item dismissable">
                            <div class="left"  style="height: 48px; width: 48px;">
                                <img src="{% static 'PoolCamAI/assets/image/jeff.jpg' %}" alt="">
                            </div>
                            <div>
                                <span class="title">There's number of people.</span>
                                <p style="line-height: 0;"><span class="badge">June 1, 2017 13:53</span></p>
                            </div>
                        </li>
                    </ul>

            </ul>
            <a href="#" data-activates="slide-out1" class="button-collapse right teal-text"><i class="material-icons">new_releases</i></a>

        </div>
    </nav>
    <!--</div>-->

    {% block header %}{% endblock %}
</header>

<main class="main">
    {% block content %}{% endblock %}
</main>
{% block footer %}{% endblock %}


<script src="{% static 'PoolCamAI/js/jquery-3.2.1.min.js' %}"></script>
<script src="{% static 'PoolCamAI/js/materialize.js' %}"></script>
<script src="{% static 'PoolCamAI/js/init.js' %}"></script>


</body>
</html>