{% extends "PoolCamAI/mainbase.html" %}

{% block title %}Swimming Pool Surveilliance{% endblock %}

{% block content %}

<div class="row">
    <div class="col s12 m8">
        <div class="card white">
            <div class="card-content black-text">
                 <span class="card-title">Live Stream</span>
                 <div class="video-container">
                     {% block camera %}
                     {% include "PoolCamAI/camera.html" %}
                     {% endblock %}
                 </div>
            </div>
            <div class="card-action">
                <a href="#">Take a screenshot</a>
                <a href="#">Notify Security</a>
            </div>
        </div>
    </div>
</div>

{% endblock %}