
<li><a class="dropdown-button btn white black-text" data-activates="dropdown1" href="{% url 'notify' %}">Notification
    <span class="new badge blue">{{results|length}}</span></a></li>
<ul id='dropdown1' class='dropdown-content fixstyle'>
    <ul class="collection">
        {% for result in results %}
        <li class="collection-item dismissable">
            <div>
                <span class="title">Detected {{result.num}} people</span>
                <p style="line-height: 0;"><span class="badge">{{result.times}}</span></p>
            </div>
        </li>
        {% endfor %}
    </ul>
</ul>